<ul>
<% @walls.each do |wall| %>
  Wall ID: <%=wall.id%> <br>
  User Name: <%=wall.created_by%>
  <form method="GET" action="/show_wall">
    <input type="number" style="display: none;" name="id" value="<%=wall.id%>" />
    <button>Let's See description!</button>
  </form>
<% end %>
</ul>

<a href="/walls/new">Add Your Own Wall</a>