<ul>
  <% @walls.each do |wall| %>
    Wall ID: <%= wall.id %> <br>
    User Name: <%= wall.created_by %>
    show <a href="/walls/<%= wall.id %>">descripzions</a>
  <% end %>
</ul>

<a href="/walls/new">Add Your Own Wall, at your own risk of course</a>
