<h1>This is wall # <%= @wall.id %> and below is all the infos, so much, wow, infos
<h2>The title of this spectactular wall is: <%= @wall.title %></h2>
<ul>
	<li>The Legend... wait for it.... ary descriptionalzs is: <%= @wall.description %></li>
	<li>Wall created by the only and only: <%= @wall.created_by %> </li>
</ul>